<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Livros</title>	
    <link rel="icon" th:href="@{/assets/logo.png}" type="image/png" >	
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="my-navbar">
        <div sec:authorize="hasRole('ROLE_USER')">
             <ul>
                <li><a href="/books">Livros</a></li>
                <li><a href="/myLoans">Meus Empréstimos</a></li>
                <li><a href="/logout" th:href="@{/logout}">Sair</a></li>
            </ul>
                
        </div>
                
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <ul>
                <li><a href="/books">Livros</a></li>
                <li><a href="/loans">Empréstimos</a></li>
                <li><a href="/returns">Devoluções</a></li>
                <li><a href="/users">Usuários</a></li>
                <li><a href="/logout" th:href="@{/logout}">Sair</a></li>
            </ul>
        </div>
    </div>

    <div class="alert alert-warning" role="alert">
        A descrição do livro não pode ultrapassar 1000 caracteres.
    </div>

    <a th:href="@{/books/add}" class="btn btn-outline-info">Voltar</a>

</body>
</html>
